.App {
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-between;

}
ul {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 50px;
  font-size: 0.9rem;

}

li {
  display: flex;
  list-style-type: none;
}

.App button {
  background-color: blue;
  color: white;
  border-radius: 12px;
  width: 275px;
  height: 45px;
  font-size: 1rem;
  border: none;
}
.nav button {
  width: 90px;
  height: 30px;
  font-size: 0.9rem;
}
.parrafo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  gap: 90px;
  font-size: 0.9rem;
  color: blue;
  
}
.logo1 {
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
}
.logo2 {
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.text {
  size: 10px;
}
.img1 {
  margin: auto;
  height: 400px;
  
}

h6 {
  color: darkgrey;
}
.svg1 {
  display: flex;
  justify-content: center;
  width: 20px;
  height: 20px;
}
.svg2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}
.container h1 {
  font-size: 42px;
}
.log1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.log2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.logo {
  width: 100px;
  margin: auto;

}


